@import "_nullstyle";
// =======================================

@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');

// =======================================

html {
   scroll-behavior: smooth;
}

body {
   font-family: 'Geist', sans-serif;
   font-size: 18px;
   background-color: #1c1b21;
   color: #b4b4b4;
   color-scheme: dark;
}

a {
   text-decoration: none;
   color: inherit;
}

footer {
   text-align: center;
   padding: 20px 0;
   background-color: #0f0f0f;
   margin-top: 50px;
   font-size: 14px;
   color: #7c7c7c;
   font-weight: 500;
}

.container {
   max-width: 100%;
   padding: 0 50px;
}

.title {
   font-weight: 600;
   font-size: 40px;
   color: #fff;
}

// ==================Navigation Bar====================

.navbar {
   position: sticky;
   top: 0;
   background-color: #0f0f0f;
   padding: 10px;
   border: 1px solid #7c7c7c8a;
   border-radius: 15px;
   z-index: 100;

   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 100%;
   height: 60px;
   margin: 20px 100px 0;

   &__brandname {
      font-size: 30px;
      font-weight: 500;
   }

   &__brandname::before {
      content: '';
      display: inline-block;
      background: #ffffff url(../img/navbar/logo.png) 0 0/cover no-repeat;
      width: 30px;
      height: 30px;
      border-radius: 3px;
   }

   &__menu {
      min-width: 600px;
   }

   &__row {
      display: flex;
      justify-content: space-around;
   }

   &__item {
      padding: 10px;
      transition: all 0.4s ease;
      border-radius: 5px;
   }

   &__item:hover {
      background-color: #9e9e9e3a;
      color: #ffffff;
   }

   &__link {
      font-weight: 500;
   }

   &__button {
      font-weight: 500;
      color: #000;
      background-color: #fff;
      height: 45px;
      width: 140px;
      border-radius: 8px;
      transition: all 0.4s ease;

      display: inline-block;
      text-align: center;
      line-height: 45px;
   }

   &__button::after {
      content: '';
      background: url(../img/navbar/arrow.png) 0 4px/cover no-repeat;
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-left: 5px;
   }

   &__button:hover {
      background-color: #c2c2c2;
   }
}

// ==================Header Section====================

.header {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 120px 0 25px 0;
		&__info {
         max-width: 600px;
         margin: 0 50px 0 0;
		}

		&__title {
         color: #fff;
         font-size: 50px;
         font-weight: 600;
		}

		&__subtitle {
         color: #fff;
         font-size: 50px;
         font-weight: 500;
         margin: 10px 0;
		}

		&__description {
         font-size: 20px;
         line-height: 1.5;
         margin: 20px 0;
		}

		&__buttons {
         margin: 30px 0;
		}

		&__button-white {
         font-weight: 500;
			background-color: #fff;
			color: #000;
         border-radius: 25px;
         transition: all 0.4s ease;

         padding: 10px 15px;
         margin: 0 10px 0 0;
		}

      &__button-white::after {
         content: '';
         background: url(../img/header/arrow.png) 0 4px/cover no-repeat;
         display: inline-block;
         width: 20px;
         height: 20px;
         margin-left: 5px;
      }

      &__button-white:hover {
         background-color: #c2c2c2;
      }

      &__button-black {
         font-weight: 500;
			background-color: #0f0f0f;
			color: #fff;
         border: 1px solid #7c7c7c8a;
         border-radius: 25px;
         transition: all 0.4s ease;

         padding: 10px 18px;
         margin: 0 10px 0 0;
		}

      &__button-black::before {
         content: '';
         background: url(../img/header/download.png) 0 -3px/cover no-repeat;
         display: inline-block;
         vertical-align: middle;
         width: 18px;
         height: 15px;
         margin-right: 5px;
      }

      &__button-black:hover {
         background-color: #1c1c1c91;
      }

      &__image {
         border-radius: 15px;
         overflow: hidden;
         box-shadow: 0 0 5px #ffffff70;
      }

		&__image img{
            width: 600px;
		}
}

// ==================Strengths Section====================

.strengths {
   padding: 200px 0 0 0;
   text-align: center;
      &__title {
         margin-bottom: 50px;
      }

		&__row {
         display: flex;
         justify-content: center;
         gap: 100px;
		}

		&__item {
         height: 400px;
         width: 400px;
         background: #0f0f0f;
         border: 1px solid #7c7c7c8a;
         box-shadow: 0 0 5px #ffffff70;
         border-radius: 20px;
         padding: 30px 20px;
		}

      &__icon {
         width: 50px;
         height: 50px;
         margin-bottom: 20px;
      }

		&__subtitle {
         color: #fff;
         font-size: 30px;
         font-weight: 600;
         margin-bottom: 20px;
		}

		&__description {
         font-size: 18px;
         line-height: 1.5;
		}
}
// ==================Tech Stack Section====================

.skills {
   margin: 0 0 300px 0;
   padding: 330px 0 0 0;
   text-align: center;
		&__title {
         margin-bottom: 50px;
		}

		&__row {
         display: flex;
         justify-content: center;
         gap: 20px;
		}

		&__item {
			color: #000;
			padding: 10px 15px;
			border-radius: 15px;
         transition: width 0.4s ease, height 0.4s ease;
         width: 100px;
         height: 100px;
		}

      &__item:hover {
         width: 130px;
         height: 130px;
      }
}

.html {
   background: url(../img/skills/html-icon.svg) center/cover no-repeat;
}

.css {
   background: url(../img/skills/css-icon.svg) center/cover no-repeat;
}

.sass {
   background: url(../img/skills/sass-icon.svg) center/cover no-repeat;
}

.javascript {
   background: url(../img/skills/js-icon.svg) center/cover no-repeat;
}

.python {
   background: url(../img/skills/python-icon.svg) center/cover no-repeat;
}

.github {
   background: url(../img/skills/github-icon.svg) center/cover no-repeat;
}

.vscode {
   background: url(../img/skills/vscode-icon.svg) center/cover no-repeat;
}

// =================Projects Section====================

.projects {
   padding: 150px 0 0 0;
   margin: 0 0 100px 0;
		&__header {
         text-align: center;
		}

		&__title {
         margin: 0 0 20px 0;
		}

		&__subtitle {
         margin: 20px 0;
		}

		&__divider {
         margin: 30px 0;
		}

		&__row {
         display: flex;
         justify-content: center;
         gap: 100px;
         margin: 50px 0;
		}

		&__item {
         width: 600px;
         background: #0f0f0f;
         border: 1px solid #7c7c7c8a;
         border-radius: 20px;
         padding: 15px;
         position: relative;
		}

		&__image {
         background: url(../img/projects/portfoli_site.png) center/cover no-repeat;
         width: 100%;
         height: 300px;
		}

		&__name {
         color: #fff;
         font-size: 22px;
         font-weight: 600;
         margin: 0 0 10px 0;
         padding: 20px 0 0 5px;

         border-top: 2px solid #7c7c7c8a;
		}

		&__description {
         font-size: 16px;
         line-height: 1.5;
         padding: 0 0 0 5px;

         margin: 10px 0;
		}

		&__cards {
         margin: 10px 0 0 0;
		}

      &__link {
         position: absolute;
         inset: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         color: #fff;
         font-weight: 500;
         background: transparent;
         border-radius: 20px;
         transition: background 0.4s ease, opacity 0.4s ease;
         opacity: 0;
      }

      &__link::after {
         content: url(../img/achievements/arrow2.png);
         display: inline-block;
         padding: 0 0 21px 0;
         width: 15px;
         height: 15px;
         margin-left: 5px;
      }

      &__link:hover {
         background: #000000a4;
         opacity: 1;
      }
}

.techstack {
   display: flex;
   gap: 10px;
		&__item-html {
         background: url(../img/skills/html-icon.svg) 0 0/cover no-repeat;
         width: 50px;
         height: 50px;
		}
		&__item-css {
         background: url(../img/skills/css-icon.svg) 0 0/cover no-repeat;
         width: 50px;
         height: 50px;
		}
      &__item-sass {
         background: url(../img/skills/sass-icon.svg) 0 0/cover no-repeat;
         width: 50px;
         height: 50px;
		}
}
// =================Achievements Section====================

.achievements {
   text-align: center;
   padding: 180px 0 0 0;
   margin: 0 0 120px 0;
   height: 800px;
		&__title {
         margin: 0 0 20px 0;
		}

		&__subtitle {
         margin: 20px 0 20px 0;
		}

      &__divider {
         margin: 20px 0 30px 0;
      }

		&__row {
         max-width: 1300px;
         margin: 10px auto 0;
         display: flex;
         gap: 30px;
         justify-content: center;
         flex-wrap: wrap;
		}

		&__item {
         max-width: 300px;
         height: 400px;
         border-radius: 15px;
         text-align: left;
         background: #131313;
         overflow: hidden;
         position: relative;
         border: 1px solid rgb(43, 43, 43);
		}

		&__certificate {
         width: 100%;
         object-fit: cover;
         padding: 0 0 20px 0;
      }

      &__description {
         padding: 20px 15px 0;
      }

      &__name {
         font-size: 18px;
         color: white;
         margin: 0 0 20px 0;
      }

      &__place {
         margin: 0 0 15px 0;
         font-size: 16px;
      }

      &__issued {
         margin: 0 0 10px 0;
         font-size: 14px;
      }

      &__date {
         font-size: 16px;
      }

      &__link {
         position: absolute;
         inset: 0;
         display: flex;
         justify-content: center;
         align-items: center;
         padding: 0 0 180px 0;
         color: #fff;
         font-weight: 500;
         background: transparent;
         transition: background 0.4s ease, opacity 0.4s ease;
         opacity: 0;
      }

      &__link:hover {
         background: #000000a4;
         opacity: 1;
      }

      &__link::after {
         content: url(../img/achievements/arrow2.png);
         display: inline-block;
         padding: 0 0 21px 0;
         width: 15px;
         height: 15px;
         margin-left: 5px;
      }
}

// =================Contact Section====================

.contacts {
   padding: 90px 0 200px 0;
   text-align: center;
   width: 730px;
   margin: 0 auto;
		&__title {
         margin: 0 0 30px 0;
		}

		&__row {
         display: flex;
         justify-content: center;
         gap: 30px;
         flex-wrap: wrap;
		}

		&__item {
         text-align: left;
         padding: 20px;
         border-radius: 10px;
         border: 1px solid rgb(43, 43, 43);
         background: rgb(146, 0, 0);
         width: 350px;
		}
}

.gmail-item {
   width: 100%;
}

.linkedin-item {
   background: rgb(10, 102, 194);
}

.github-item {
   background: rgb(0, 0, 19);
}

.item {
		&__title {
         font-size: 22px;
         color: #fff;
         font-weight: 600;
         margin-bottom: 15px;
		}

		&__text {
         font-size: 16px;
         line-height: 1.5;
         margin-bottom: 20px;
		}

		&__interractive {
         display: flex;
         justify-content: space-between;
         align-items: center;
		}

		&__link {
         font-weight: 500;
         color: #000000;
         background-color: #ffffffb2;
         border-radius: 10px;
         transition: all 0.4s ease;
         padding: 10px;
      }

      &__link::after {
         content: '';
         background: url(../img/header/arrow.png) 0 4px/cover no-repeat;
         display: inline-block;
         width: 20px;
         height: 20px;
         margin-left: 5px;
      }

      &__link:hover {
         background-color: #ffffff;
         transform: translateY(-3px);
		}

		&__logo {
         width: 50px;
         height: 50px;
         border: 3px solid #fff;
         border-radius: 10px;
         padding: 5px;
		}
}
